@model IEnumerable<MusicRCM.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/seed.css" />

<h1>Add your favorite songs</h1>

    <div style="display: flex; justify-content: space-between;">
        <div>
            <a asp-action="Create">
                <div id="add_new">


                    <div>
                        <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg class="top_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" width="544" height="408" viewBox="0 0 640 480" xml:space="preserve">

                        <g transform="matrix(29.85 0 0 29.85 459.73 239.21)">
                        <g style="">
                        <g transform="matrix(1 0 0 1 0 1.82)">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-8, -9.82)"
                              d="M 11 6.64 a 1 1 0 0 0 -1.243 -0.97 l -1 0.25 A 1 1 0 0 0 8 6.89 v 4.306 A 2.572 2.572 0 0 0 7 11 c -0.5 0 -0.974 0.134 -1.338 0.377 c -0.36 0.24 -0.662 0.628 -0.662 1.123 s 0.301 0.883 0.662 1.123 c 0.364 0.243 0.839 0.377 1.338 0.377 c 0.5 0 0.974 -0.134 1.338 -0.377 c 0.36 -0.24 0.662 -0.628 0.662 -1.123 V 8.89 l 2 -0.5 V 6.64 z"
                              stroke-linecap="round" />
                        </g>
                        <g transform="matrix(1 0 0 1 0 0)">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-8, -8)"
                              d="M 14 14 V 4.5 L 9.5 0 H 4 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 8 a 2 2 0 0 0 2 -2 z M 9.5 3 A 1.5 1.5 0 0 0 11 4.5 h 2 V 14 a 1 1 0 0 1 -1 1 H 4 a 1 1 0 0 1 -1 -1 V 2 a 1 1 0 0 1 1 -1 h 5.5 v 2 z"
                              stroke-linecap="round" />
                        </g>
                    </g>
                    </g>
                        <g transform="matrix(29.85 0 0 29.85 147.98 242.09)">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-8, -8)"
                              d="M 8 4 a 0.5 0.5 0 0 1 0.5 0.5 v 3 h 3 a 0.5 0.5 0 0 1 0 1 h -3 v 3 a 0.5 0.5 0 0 1 -1 0 v -3 h -3 a 0.5 0.5 0 0 1 0 -1 h 3 v -3 A 0.5 0.5 0 0 1 8 4 z"
                              stroke-linecap="round" />
                    </g>
                </svg>
                    </div>
                    <div>
                        <p class="icon_text" style="color: #eb9f22;">
                            Add New
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <div class="right_item">
                <a asp-action="Clear">
                    <i id="clear_icon" class="fa fa-trash-o" aria-hidden="true"></i>
                    <p class="icon_text" style="color: #eb9f22;">
                        Clear
                    </p>
                </a>
            </div>
        </div>
    </div>

<table class="table" id="seed_table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="https://open.spotify.com/track/@item.SpotifyId">
                        <img class="album"
                             src="@item.ImageUrl">
                    </a>
                </td>
                <td class="black_text">
                    <div>
                        <a class="black_text" href="https://open.spotify.com/track/@item.SpotifyId">
                            @Html.DisplayFor(modelItem => item.SongName)
                        </a>
                    </div>
                    <div>
                        <br>

                    </div>
                    <div>
                        <a class="black_text" href="https://open.spotify.com/artist/@item.ArtistId">
                            @Html.DisplayFor(modelItem => item.ArtistName)
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.SongId"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>