@model IEnumerable<MusicRCM.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Explore new nusic</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Clear">Clear</a>
    <a asp-action="Playlist">Add to spotify</a>


</p>
<form asp-action="Create">
   
    <div class="form-group">
        <input type="number" name="amount" value="ammmm" />
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<table class="table" id="rcm_table">

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="https://open.spotify.com/track/@item.SpotifyId"><img class="album" src="@item.ImageUrl"></a>
            </td>
            <td>
                <a href="https://open.spotify.com/track/@item.SpotifyId">
                    @Html.DisplayFor(modelItem => item.SongName)
                </a>
            </td>
            <td>
                <a href="https://open.spotify.com/artist/@item.ArtistId">
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.SongId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
