@model MusicRCM.Models.SongViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/seed.css" />


<div class="seed-page">

    <table class="table" id="seed_table">
        <tbody>
            @foreach (var item in Model.songs)
            {
            <tr>
                <td>
                    <a class="black_text" href="https://open.spotify.com/track/@item.SpotifyId">
                        @Html.DisplayFor(modelItem => item.SongName)
                    </a>
                </td>
                <td>
                    <a class="black_text" href="https://open.spotify.com/artist/@item.ArtistId">
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </a>
                </td>
                <td>
                    <a href="https://open.spotify.com/track/@item.SpotifyId">
                        <img class="album"
                             src="@item.ImageUrl">
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    <a asp-action="CheckBox" asp-route-id="@item.SongId" title="Don't search for songs from this author" class="author-check-box">
                        @Html.CheckBoxFor(modelItem => item.AuthorSearch)
                    </a>
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.SongId"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>


    <div class="">
        <div class="">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="TrackURI" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="AlbumName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ArtistId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="SpotifyId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ImageUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Duration" class="form-control" />
                </div>
                <div id="main_div">
                    <div id="button-menu">
                        <div class="right_item btn btn-outline-light icon_text" id="search_butn2">
                            <a asp-action="Clear" class="nohover">
                                @*<i id="clear_icon" class="fa fa-trash-o" aria-hidden="true"></i>
                <p class="icon_text" style="color: #eb9f22;">*@
                                Clear
                             </a>
                        </div>
                        <div class="right_item btn btn-outline-light icon_text" id="search_butn2">
                            <a asp-action="SavePlaylist" class="nohover">
                                @*<i id="clear_icon" class="fa fa-trash-o" aria-hidden="true"></i>
                <p class="icon_text" style="color: #eb9f22;">*@
                                Save to a playlist
                             </a>
                        </div>
                        <div class="pl_search">

                            
                            <input  type="submit" name="response" value="Add a playlist" formaction=@Url.Action("Playlist")  formmethod="post" id="search_butn" class="btn btn-outline-light icon_text nohover">
                                
                            </input>
                            
                            <div class="pl_search_item">
                                <input id="PlaylistSearch" asp-for="PlaylistSearch" class="form-control input_field" />
                            </div>
                        </div>
                    </div>
                    <div id="left">

                        @*<div>
                            <p id="search_caption">Type any combination of name, artist or album for the desired song.</p>
                        </div>*@
                        <div id="search_box">
                            <div class="form-group" title="Type any combination of name, artist or album for the desired song.">
                                <label asp-for="SearchQuery" class="control-label">Search field</label>
                                <input id="SearchQuery" asp-for="SearchQuery" class="form-control input_field" />
                                <span asp-validation-for="SearchQuery" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="submit" name="response" value="Search" formaction=@Url.Action("Search") formmethod="post" id="search_butn" class="btn btn-outline-light icon_text" />
                                @*<a asp-action="Index" id="search_butn" class="btn btn-outline-light icon_text">Cancel</a>*@

                            </div>

                        </div>

                    </div>
                    <div style="border-left: 2px solid #eb9f22;width: 0px;"></div>
                    <div id="right">


                        <div class="form-group">
                            <label asp-for="SongName" class="control-label">Name</label>
                            <input asp-for="SongName" class="form-control input_field" />
                            <span asp-validation-for="SongName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ArtistName" class="control-label">Artist</label>
                            <input asp-for="ArtistName" class="form-control input_field" />
                            <span asp-validation-for="ArtistName" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="submit" name="response" value="Save" formaction=@Url.Action("Create") formmethod="post" id="search_butn" class="btn btn-outline-light icon_text" />

                </div>



               



                @*<input type="submit" name="answer" value="Create" class="btn btn-success" />
        <input type="submit" name="answer" value="Search" class="btn btn-danger" />*@

                @using (Html.BeginForm("Create", "Seed"))


                {
                    @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
                }
                @using (Html.BeginForm("Search", "Seed"))
                {
                    @*<div class="form-group">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>*@
                }
            </form>
        </div>
    </div>
</div>
