@model IEnumerable<MusicRCM.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Open Modal</button>

<form asp-action="Create" asp-controller="Seed" data-ajax-method="POST" data-ajax="true" data-ajax-update="studentFormDetails" data-ajax-complete="OnComplete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Student Details Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label asp-for="PlaylistId" class="control-label"></label>
                    <select asp-for="PlaylistId" class="form-control" asp-items="ViewBag.PlaylistId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SpotifyId" class="control-label"></label>
                    <input asp-for="SpotifyId" class="form-control" />
                    <span asp-validation-for="SpotifyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SongName" class="control-label"></label>
                    <input asp-for="SongName" class="form-control" />
                    <span asp-validation-for="SongName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtistId" class="control-label"></label>
                    <input asp-for="ArtistId" class="form-control" />
                    <span asp-validation-for="ArtistId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtistName" class="control-label"></label>
                    <input asp-for="ArtistName" class="form-control" />
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpotifyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpotifyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Playlist.PlaylistId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function OnComplete() {
        $("#exampleModal").modal("hide");
    }
</script>
